<template>
 <!-- Register Content -->
  <div class="content overflow-hidden">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <!-- Register Block -->
        <div class="block block-themed animated fadeIn">
          <div class="block-header bg-success">
            <ul class="block-options">
              <li>
                <a route-href="route: login">Login <i class="si si-login"></i></a>
              </li>
            </ul>
            <h3 class="block-title">Register</h3>
          </div>
          <div class="block-content block-content-full block-content-narrow">
            <!-- Register Title -->
            <h1 class="h2 font-w600 push-30-t push-5">Aurelia Todo App</h1>
            <p>Please create a new account.</p>
            <!-- END Register Title -->

            <!-- Register Form -->
            <form class="js-validation-register form-horizontal push-50-t push-50" submit.delegate="register()">
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="form-material form-material-success">
                    <input-field input-id="register-form-email"
                      label="Email"
                      input-placeholder="Please fill in your email"
                      input-value.bind="userRegister.email & validateManually"
                      validate-on-change.call="validateEmail()"
                      validate-on-blur.call="validateEmail()"
                      validation-errors.bind="emailErrors"
                      errors.bind="emailErrors">
                    </input-field>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="form-material form-material-success">
                    <input-field input-id="register-form-password"
                      label="Password"
                      input-placeholder="Choose a strong password.."
                      input-value.bind="userRegister.password & validateManually"
                      validate-on-change.call="validatePassword()"
                      validate-on-blur.call="validatePassword()"
                      validation-errors.bind="passwordErrors"
                      errors.bind="passwordErrors">
                    </input-field>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="form-material form-material-success">
                    <input-field input-id="register-form-confirm-password"
                      label="Confirm Password"
                      input-placeholder="..and confirm it"
                      input-value.bind="userRegister.confirmPassword & validateManually"
                      validate-on-change.call="validateConfirmPassword()"
                      validate-on-blur.call="validateConfirmPassword()"
                      validation-errors.bind="confirmPasswordErrors"
                      errors.bind="confirmPasswordErrors">
                    </input-field>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12 col-sm-6 col-md-5">
                  <button class="btn btn-block btn-success" type="submit" disabled.bind="validationController.errors.length"><i class="fa fa-plus pull-right"></i> Sign Up</button>
                </div>
              </div>
            </form>
            <!-- END Register Form -->
          </div>
        </div>
        <!-- END Register Block -->
      </div>
    </div>
  </div>
  <!-- END Register Content -->
</template>
