<template>
  <require from="./tasklists.css"></require>
  <!-- <require from="../../../utils/templates/table-loader/table-loader.html"></require> -->

  <!-- Stats -->
  <div class="content bg-gray-lighter border-b">
    <div class="row items-push text-uppercase">
      <div class="col-xs-6 col-sm-3 text-center">
        <div class="font-w700 text-gray-darker animated fadeIn">Owner Tasklists</div>
        <div class="text-muted animated fadeIn">
          <small><i class="si si-calendar"></i> number</small>
        </div>
        <a class="h2 font-w300 text-primary animated flipInX">${generalData.allTasklistOwner}</a>
        <!--data-toggle="countTo" data-to="35"-->
      </div>
      <div class="col-xs-6 col-sm-3 text-center">
        <div class="font-w700 text-gray-darker animated fadeIn">Shared User</div>
        <div class="text-muted animated fadeIn">
          <small><i class="si si-calendar"></i> number</small>
        </div>
        <a class="h2 font-w300 text-primary animated flipInX">${generalData.userShare}</a>
      </div>
      <div class="col-xs-6 col-sm-3 text-center">
        <div class="font-w700 text-gray-darker animated fadeIn">All todo</div>
        <div class="text-muted animated fadeIn">
          <small><i class="si si-calendar"></i> number</small>
        </div>
        <a class="h2 font-w300 text-primary animated flipInX">${generalData.allTodo}</a>
      </div>
      <div class="col-xs-6 col-sm-3 text-center">
        <div class="font-w700 text-gray-darker animated fadeIn">All Done</div>
        <div class="text-muted animated fadeIn">
          <small><i class="si si-calendar"></i> number</small>
        </div>
        <a class="h2 font-w300 text-primary animated flipInX">${generalData.allDone}</a>
      </div>
    </div>
  </div>
  <!-- END Stats -->

  <!-- Dynamic Table Full -->
  <div class="block" style="position: relative">
    <div>
      <div class="block-header row">
        <h2 class="block-title col-sm-4">Tasklist
          <small> Dashboard</small>
        </h2>
        <form class="col-md-4" submit.trigger="createTasklist()">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Tasklist name ..." value.bind="tasklistName">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" disabled.bind="tasklistName===''">Add <i class="fa fa-plus-square"></i></button>
            </span>
          </div>
        </form>
      </div>
      <data-table row-number-options.bind="rowNumberOptions"
        table-titles.bind="tableTitles"
        table-contents.bind="tasklists"
        view-model.ref="childViewModel">
      </data-table>
    </div>
    <table-loader if.bind="loading"
    percent.bind="percentLoading"></table-loader>  
  </div>
</template>
