#client-side-demo-container {
  padding: 30px;
  background-color: white;
}
#client-side-demo-container .loader {
  position: absolute;
  background-color: rgba(174, 176, 178, 0.2);
  z-index: 9999;
  width: 100%;
  height: 100%;
}
#client-side-demo-container .loader i {
  font-size: 25pt;
  color: #333;
  position: absolute;
  width: unset;
  top: 40%;
  left: 47%;
}
#client-side-demo-container .content {
  padding: 0;
}
#client-side-demo-container .filter-button {
  padding: 0;
  background-color: #ed682f;
  color: white;
  opacity: .8;
  border-radius: 0;
}
#client-side-demo-container .nav .nav-item {
  width: 25%;
  text-align: center;
  border: 1px #ed682f solid;
  opacity: .8;
}
#client-side-demo-container .nav .nav-item .nav-link {
  color: #ed682f;
  text-transform: uppercase;
}
#client-side-demo-container .nav .nav-item .nav-link.active {
  border-radius: 0;
  background-color: #ed682f;
  color: white;
}
#client-side-demo-container img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#client-side-demo-container .btn-primary {
  background-color: #333;
  color: white;
  border-color: #333;
  border-radius: 0px;
}
#client-side-demo-container .header {
  padding: 10px;
  border-top: 1px solid #e9ecef;
  border-left: 1px solid #e9ecef;
  border-right: 1px solid #e9ecef;
}
#client-side-demo-container .header h6 {
  margin-top: 10px;
  margin-left: 10px;
}
#client-side-demo-container .form-control {
  border-radius: 0;
  outline: none;
}
#client-side-demo-container .descending {
  margin-left: -7px !important;
}
#client-side-demo-container select.form-control {
  width: 100%;
  height: 38px;
  -webkit-appearance: none;
  font-size: 9pt;
  -moz-appearance: none;
  background: url(data:image/svg+xml;utf8,) #fff;
  background-position: 98% 50%;
  background-repeat: no-repeat;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 2px 0 0 10px;
}
#client-side-demo-container table {
  margin: 0;
}
#client-side-demo-container table thead .au-table-filter .btn-primary {
  padding: 1px 6px 2px 6px;
  border-radius: 0;
}
#client-side-demo-container table tbody tr.selected {
  background-color: #333 !important;
  color: white !important;
}
#client-side-demo-container table tbody tr td:first-child {
  text-align: center;
}
#client-side-demo-container table tbody tr:hover {
  background-color: #333;
  color: white !important;
  cursor: pointer;
}
#client-side-demo-container table tbody tr td {
  vertical-align: middle;
}
#client-side-demo-container .footer {
  padding: 10px 10px;
  height: 55px;
  border-left: 1px solid #e9ecef;
  border-right: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
}
#client-side-demo-container .footer .col-md-6 {
  padding: 0;
}
#client-side-demo-container .footer .au-table-info {
  margin-top: 8px;
  margin-left: 10px;
}
#client-side-demo-container .footer .info {
  margin-top: 0px;
  display: inline-block;
}
#client-side-demo-container .footer nav ul {
  margin: 0;
}
#client-side-demo-container .footer nav ul li a {
  border-radius: 0px;
  color: #333;
}
#client-side-demo-container .footer nav ul li:hover {
  cursor: pointer;
}
#client-side-demo-container .footer nav ul li.dots {
  cursor: none !important;
}
#client-side-demo-container .footer nav ul li.active a {
  background-color: #333;
  border-color: #333;
  color: white;
}
#client-side-demo-container .footer nav ul li.dots {
  cursor: default !important;
}
#client-side-demo-container .footer nav ul li.dots a:hover {
  background: white !important;
}
#client-side-demo-container .nav-tabs {
  margin-top: 50px;
}

.glyphicon {
  font-size: 12px;
}

.action-button {
  display: inline-flex;
}

ux-dialog-overlay.active {
  background-color: black;
  opacity: .65;
}

ux-dialog-container>div>div {
width: 60%;
}

ux-dialog {
  width: 100%;
}
