ux-dialog-overlay.active {
  background-color: black;
  opacity: .65;
}

ux-dialog-container>div>div {
width: 60%;
}

ux-dialog {
  width: 100%;
}

ux-dialog-header, ux-dialog-footer {
  background: #d6f6c5;
}

