<template>
  <require from="./login.css"></require>

  <!-- Loader (wait for request respond) -->
  <require from="../../utils/templates/loader/loader.html"></require>
  <loader if.bind="loading"></loader>
  <!-- END Loader -->

  <!-- Login Content -->
  <div class="content overflow-hidden">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <!-- Login Block -->
        <div class="block block-themed animated fadeIn">
          <div class="block-header bg-primary">
            <ul class="block-options">
              <li>
                <a route-href="route: register" class="btn btn-link">New Account <i class="si si-plus"></i></a>
              </li>
            </ul>
            <h3 class="block-title">Login</h3>
          </div>
          <div class="block-content block-content-full block-content-narrow">
            <!-- Login Title -->
            <h1 class="h2 font-w600 push-30-t push-5">Aurelia Todo App</h1>
            <p>Welcome, please login.</p>
            <!-- END Login Title -->

            <!-- Login Form -->
            <form class="js-validation-login form-horizontal push-30-t push-50" submit.delegate = "login()">
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="form-material form-material-primary">
                    <input-field
                      type="text"
                      input-id="login-form-email"
                      label="Email"
                      input-placeholder="Please provide your Email..."
                      input-value.bind="userLogin.email & validateManually"
                      validate-on-change.call="validateEmail()"
                      validate-on-blur.call="validateEmail()"
                      validation-errors.bind="emailErrors"
                      errors.bind="emailErrors">
                    </input-field>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="form-material form-material-primary">
                    <input-field
                      type="password"
                      input-id="login-form-password"
                      label="Password"
                      input-placeholder="Please provide your Password..."
                      input-value.bind="userLogin.password & validateManually"
                      validate-on-change.call="validatePassword()"
                      validate-on-blur.call="validatePassword()"
                      validation-errors.bind="passwordErrors"
                      errors.bind="passwordErrors">
                    </input-field>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <label class="css-input switch switch-sm switch-primary">
                    <input type="checkbox" id="login-remember-me" name="login-remember-me"><span></span> Remember Me?
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <button class="btn btn-block btn-primary" type="submit" disabled.bind="validationController.errors.length"><i class="si si-login pull-right"></i> Log in</button>
                </div>
              </div>
            </form>
            <!-- END Login Form -->
          </div>
        </div>
        <!-- END Login Block -->
      </div>
    </div>
  </div>
  <!-- END Login Content -->
</template>
