<template>
  <nav class="navbar navbar-inverse fix-position">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">TODO LISTS</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <a route-href="route: tasklists" class="btn btn-link" id="tasklists-route">Tasklists</a>
        </li>
        <li>
          <a route-href="route: profile" class="btn btn-link" id="profile-route">Profile</a>
      </ul>
    </div>
  </nav>

  <div class="container data-content">
    <router-view></router-view>
  </div>
</template>
